<div class="users-wrap">
    <div class="row head">
        <div class="col-md-12 details">

        </div>
    </div>


    <div class="col-md-12 list">

        <!--<ul ng-repeat="user in users">-->

        <!--<li>{{user.first_name}}</li>-->
        <!--<li>{{user.last_name}}</li>-->
        <!--<li>{{user.date_of_birth}}</li>-->
        <!--<li>{{user.email_address}}</li>-->
        <!--<li>{{user.address}}</li>-->
        <!--<li>{{user.city}}</li>-->
        <!--<li>{{user.country}}</li>-->
        <!--<li>{{user.zip_code}}</li>-->

        <!--</ul>-->
    </div>

</div>
