/* Custom styles for all pages
-------------------------------------------------- */
.logo {
  img {
    margin-left: auto;
    width: 200px;
    margin-right: auto;
  }
}

.left-wrap {
  @include bp-small-landscape {
    overflow: scroll;
  }
}

.left-col {
  background-color: $secondary-color;

  @include bp-small-portrait {
    height: 100% !important;
    width: 100% !important;;
  }
  @include bp-medium {
    height: 100% !important;
    width: 100% !important;
  }
  .logo {
    margin: 20px 10px;
    text-align: center;
  }

  .left-col-content {
    position: relative;
    margin: 150px auto;
    @include bp-medium-landscape {
      margin: auto;
    }
    @include bp-medium {
      margin: 150px auto !important;
    }
    @include bp-small-landscape {
      margin: auto !important;
    }
    @include bp-small-portrait {
      margin: 50px auto;
    }
    .col-md-4 {
      @include bp-medium-landscape {
        width: 100%;
      }
    }
    .col-md-offset-4 {
      @include bp-medium-landscape {
        margin-left: auto;
      }
    }
  }
  h2 {
    margin-left: auto;
    margin-right: auto;
    color: $dark-grey;
    font-weight: bold;
    display: block;
    text-align: center;
    min-width: 100px;
    @include font-size(45px);
    @include sans-bold;
    @include bp-small-landscape {
      @include font-size(25px);
    }
    @include bp-small-portrait {
      font-size: 20px !important;
    }
  }
  h5 {
    @include font-size(18px);
    font-weight: 100;
    color: #999;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    @include bp-laptop {
      @include font-size(15px);
    }
    @include bp-small-landscape {
      @include font-size(14px);
      width: auto;
    }
    @include bp-small-portrait {
      @include font-size(16px);
      width: auto;
    }
  }

  .form-control {
    border: none;
    background: #fff;
    cursor: auto;
  }
  .btn-block {
    text-align: center;
    top: 50px;
    position: relative;
    @include bp-small-landscape {
      top: 0;
    }
    @include bp-small-portrait {
      top: 0;
    }
  }
  .btn {
    margin: 20px auto;
    box-shadow: none;
    background: $primary-color;
    padding: 10px 40px;
    color: $secondary-color;
    font-weight: 700;
    text-transform: uppercase;
    @include border-radius(20px);
    @include transition(background .3s ease-in, border .3s ease-in);

    &:disabled {
      color: $light-grey !important;
      @include border(1px solid $light-grey);
    }
    &:hover:not(:disabled) {
      background: lighten($primary-color, 10%) !important;
      color: $secondary-color !important;
      @include border(1px solid $primary-color);
    }

    @include bp-small-landscape {
      padding: 5px 20px !important;
      @include font-size(11px !important);
    }
    @include bp-small-portrait {
      padding: 5px 20px !important;
      @include font-size(11px !important);
    }
  }

}