html {
  //height: 100%;
}

body {
  //height: 100%;
  @include  sans-regular;
  color: $primary-color;
  background-color: $bg-color;
  overflow: visible;
}

* {
  -webkit-overflow-scrolling: touch;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}