$primary-color: #fff;
$bg-color : #eee;
$secondary-color: #fff;
$black: #000;
$orange: #f47564;
$head-color : #776b5d;
$hover-color: #f7f7f7;
$small-font: #9c9a9b;
$shadow: #c4ad8b;
$pagination-color: #191d20;