$primary-color: #F07F09;
$secondary-color: #fff;
$black: #000;
$light-grey: #F7F7F7;
$grey :#BABABA;
$dark-grey: #303030;
$d-grey: #ddd;
$link-color: $primary-color;
$link-hover-color: #666;
$link-visited-color: #555;
$link-font-size: 13px;
$box-bg-color: #77B5A0;
$maroon : #D45D4D;
$error-color: #ff0000;
$light-orange: #FDCF8B ;
$white: #fff;