.users-wrap {
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 2px 10px 2px $shadow;

  img {
    border-radius: 50%;
  }
  .head {
    margin: 0;
    font-size: 18px;
    .details {
      padding: 20px;
      min-height: 120px;
      background: $head-color;
      margin-top: 30px;
      opacity: 0;

      .image {
        @include bp-medium {
          text-align: center;
        }
        @include bp-small-portrait {
          text-align: center;
        }
        img {
          @include bp-medium {
            margin: 0 auto;
            width: 250px;
          }
          @include bp-small-portrait {
            margin: 0 auto;
            width: 200px;
          }
        }
      }
    }
  }
  .query-input-wrapper {
    background: $primary-color;
    padding: 30px 15px;
    border-bottom: 1px solid $bg-color;

    .user-number {
      margin: 0 5px 30px;
      font-size: 30px;
      @include sans-bold;
      color: $orange;
    }

    .query-input {
      width: 70%;
      padding: 10px;
      border-radius: 20px;
      border-color: $head-color;
      outline: none;
      color: $black;

      @include bp-medium {
        width: 100%;
      }
      @include bp-small-portrait {
        width: 100%;
      }
    }
  }

  .users {
    margin: 0;
    .list {
      background: $primary-color;
      padding: 0;

      .item {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
        border-bottom: 1px solid $bg-color;
        border-right: 1px solid $bg-color;
        list-style: none;
        min-height: 143px;
        opacity: 0;

        @include transition(all, .5s, ease-in);

        &:hover {
          background: $shadow;
          cursor: pointer;
          a {
            color: $primary-color !important;
            .name {
              color: $primary-color !important;
            }
          }
        }

        @include bp-medium {
          text-align: center;
        }
        @include bp-small-portrait {
          text-align: center;
        }

        a {
          display: block;
          text-decoration: none;
          color: $small-font;
          min-height: 143px;
          padding: 20px 0;

          .name {
            @include sans-bold;
            font-size: 22px;
            color: $orange;

          }
          .small-text {
            font-size: larger;
            display: inline-block;
          }

          .user-img {

            @include bp-small-portrait {
              padding: 0;
            }

            img {
              @include bp-medium {
                width: 150px;
                margin: 0 auto;
              }
              @include bp-small-portrait {
                width: 150px;
                margin: 0 auto;
              }
            }
          }
        }
      }

    }
  }
  .pagination-wrap {
    margin: 0;

    .text-center {
      background-color: $head-color;

      .active {
        a {
          background-color: $orange;
          border-color: $orange;
          color: $primary-color !important;
        }
      }
      .pagination-nav {
        a {
          color: $head-color;
        }
      }
    }
  }
}