.users-wrap {
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 2px 10px 2px $shadow;

  .head {
    margin: 0;
    font-size: 18px;
    .details {
      padding: 20px;
      min-height: 120px;
      background: $head-color;
    }
  }
  .query-input-wrapper {
    background: $primary-color;
    padding: 30px 15px;
    border-bottom: 1px solid $bg-color;

    .user-number {
      margin: 0 5px 30px;
      font-size: 30px;
      @include sans-bold;
      color: $orange;
    }

    .query-input {
      width: 70%;
      padding: 10px;
      border-radius: 20px;
      border-color: $head-color;
      outline: none;
      color: $black;
    }
  }

  .users {
    margin: 0;
    .list {
      background: $primary-color;
      padding: 0;

      .item {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
        padding: 20px 22px;
        border-bottom: 1px solid $bg-color;
        border-right: 1px solid $bg-color;
        list-style: none;
        min-height: 143px;
        opacity: 0;

        &:hover {
          background: $shadow;
          cursor: pointer;
        }

        a {
          display: block;
          text-decoration: none;
          color: $small-font;
          min-height: 104px;

          &:hover {
            color: $primary-color !important;

          }
          .name {
            @include sans-bold;
            font-size: 22px;
            color: $orange;
            &:hover {
              color: $primary-color !important;
            }
          }
          .small-text {
            font-size: larger;
            display: inline-block;
          }

          .user-img {
            @include bp-small-portrait {
              padding: 0;
            }
          }
        }
      }

    }
  }
}